<ion-content class="conteudo ion-padding">

  <div class="header-solosmart">
    <img src="../../assets/Captura de tela 2025-08-23 152632.png" />
    <div class="header-text">
      <h2>Monitoramento</h2>
      <p>Análise térmica e umidade do solo</p>
    </div>
  </div>

  <div class="card">
    <h3>Temperatura ao longo do dia</h3>
    <canvas id="tempLinha"></canvas>
  </div>

  <div class="card">
    <h3>Faixa de Temperatura</h3>
    <canvas id="tempFaixa"></canvas>
  </div>

  <div class="card">
    <h3>Situação da Umidade do Solo</h3>
    <canvas id="umidadeSolo"></canvas>
  </div>

  <!-- 🔥 NAVBAR -->
  <div class="bottom-nav">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      class="nav-item"  
    >
      <ion-icon name="home-outline"></ion-icon>
    </a>

    <a
      routerLink="/monitoramento"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item"
    >
      <ion-icon name="stats-chart-outline"></ion-icon>
    </a>

    <a
      routerLink="/soloia"
      routerLinkActive="active"
      class="nav-item"
    >
      <ion-icon name="glasses-outline"></ion-icon>
    </a>

  </div>

</ion-content>